# Build artifacts
x64/
Debug/
Release/
*.obj
*.pdb
*.ilk
*.log
*.tlog
*.idb
*.pch
*.ipch
*.lastbuildstate
*.recipe
*.FileListAbsolute.txt

# VS temp
.vs/
*.suo
*.user
*.ncb
*.aps
*.opensdf
*.sdf

# OS
Thumbs.db
Desktop.ini
.DS_Store
